html {
  background-color: transparent;
}

body {
  background-color: #F7F9FC;
  font-family: 'Roboto', sans-serif;
}

.container-medium {
  max-width: 1000px;
  margin: 0 auto;
}

.alert-danger .alert-link {
  font-weight: normal;
}
.glyphicon {
  color: inherit !important;
}

.bg {
  background-size: cover;
  background-position: center;
}

.bg-white {
  background-color: #FFF;
  border-radius: 5px;
}
